:root {
    --dark-blue: #5D576B;
    --light-blue: #8884FF;
    --white: #FFFFFF
}

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Good-Times;
    src: url(/fonts/good\ times\ rg.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    font-family: Poppins, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-blue);
    height: 75px;
}

nav h1 {
    color: var(--white);
    font-family: Good-Times;
}

ul {
    display: flex;
    gap: 32px
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--white);
    transition: all .3s ease;
}

li a:hover {
    color: var(--light-blue);
}


header {
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
}

.header {
    max-width: 1100px;
    display: flex;
    background-color: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header img {
    width: 400px;
    background: var(--white);
    padding: 10px;
    border-radius: 10px;
    
}

.header div {
    margin-right: 20px;
    color: var(--white);
}
.header p {
    font-size: 1.2rem;
    margin: 10px 0;
}
.header h1 {
    font-size: 3rem;
}

.header button {
    -webkit-appearance: none;
    appearance: none;
    padding: 20px 30px;
    background: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}

.header button:hover {
    background: limegreen;
    transform: translateY(-5px);
}