:root {
    --dark-blue: #5D576B;
    --light-blue: #8884FF;
    --white: #FFFFFF
}

@font-face {
    font-family: Poppins;
    src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Good-Times;
    src: url(/fonts/good\ times\ rg.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
}

body {
    font-family: Poppins, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-blue);
    height: 75px;
}

nav h1 {
    color: var(--white);
}

ul {
    display: flex;
    gap: 32px
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: var(--white);
    transition: all .3s ease;
}

li a:hover {
    color: var(--light-blue);
}


header {
    background-color: var(--dark-blue);
    height: 100vh;
    display: flex;
}

.header {
    max-width: 1100px;
    display: flex;
    background-color: var(--dark-blue);
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header img {
    width: 400px;
    background: var(--white);
    position: relative;
    
}


.header div {
    margin-right: 20px;
    color: var(--white);
}

.header p {
    font-size: 1.2rem;
    margin: 10px 0;
}
.header h1 {
    font-size: 3rem;
}

button {
    padding: 20px 30px;
    background: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
    text-decoration: none;
}

button:hover {
    background: limegreen;
    transform: translateY(-5px);
}

div.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

.text {
    width: 60%;
    line-height: 2rem;
}
.text h1 {
    font-size: 3rem;
}

.text p {
    margin-top: 20px;
}
.text + div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.tools img {
    width: 50px;
    margin-left: 5px;
}

.about h3 {
    font-size: 2rem;
}
.tools {
    margin-top: 10px;
}

div.projects {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}
.title {
    width: 1100px;
    margin: 20px auto;
    margin-bottom: 30px;
}
.title p,
.title h1 {
    color: var(--white);
    font-size: 3rem;
}

.title p {
    font-size: 1.2rem;
}

.projects {
    
}

.container img {
    width: 900px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.container {
    display: flex;
}

.description {
    align-self: center;
    margin: 0 auto;
}
.description p {
    color: var(--white);
}
.description h3 {
    color: var(--white);
    font-size: 2rem;
}
button a {
    text-decoration: none;
    color: var(--white)
}
.container img:hover {
    transform: translateY(-5px);
    border-radius: 20px;
}
#back {
    position: absolute;
    right: 40px;
    bottom: 30px;
    border-radius: 100px;
    padding: 20px 25px;
}

.work-container {
    width: 85%;
    margin: 0 auto;
}

.work-title h1 {
    font-size: 3rem;
}

.work-title p {
    margin: 10px 0;
    color: var(--dark-blue);
}

.pages-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 32px;
    flex-wrap: wrap;
}

.page img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.1);
}


.app img {
    width: 200px;
    border-radius: 30px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.1);
}

.link img {
    width: 26px;
    border-radius: 100px;
    box-shadow: none;
    align-self: center;
}
.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}